
append variables
    -
      var items = [
          {
            image: 'user-1.png',
            name:'John Adams',
            designation:'Ceo',
            text:`I'm loving the look and the very useful included complete page templates. Such a time saver!I'm also glad to see Bootstrap v5 support coming. Highly recommended.`,
          },
          {
            image: 'user-2.png',
            name:'Yves Tanguy',
            designation:'Chief Executive, DLF',
            text:`This is my first bootstrap template and I've had quite a few questions, mostly driven by my own lack of experience. Nevertheless have received excellent support from the author, even to my noob question And my project is starting now to take shape nicely.`
          },
          {
            image: 'user-3.png',
            name:'Austin Min',
            designation:'Designer',
            text:`I purchased a phone from an e-commerce site, and this courier service provider assisted me in getting it delivered to my home. I received my phone within one day, and I was really satisfied with their service when I received it. `
          },
          {
            image: 'user-1.png',
            name:'Yves Tanguy',
            designation:'Ceo',
            text:'We’re looking for someone interested in business theory and research that’ll help us bridge the gap between our s...'
          },
          {
            image: 'user-2.png',
            name:'John Adams',
            designation:'Chief Executive, DLF',
            text:'Review our community chat for the most frequently asked questions and document answers for our product docs.'
          },
          {
            image: 'user-3.png',
            name:'Austin Min',
            designation:'Designer',
            text:'I purchased a phone from an e-commerce site, and this courier service provider assisted me in getting it delivered to my home. I received my phone within one day, and I was really satisfied with their service when I received it. '
          },
      ]

mixin TestimonialItems(config)
  .card.h-100.card-span.p-3
    .card-body
      h5.mb-0.text-primary Fantastic service!
      p.card-text.pt-3!=config.text
      .d-xl-flex.justify-content-between.align-items-center
        .d-flex.align-items-center.mb-3
          i.fas.fa-star.text-primary.me-1
          i.fas.fa-star.text-primary.me-1
          i.fas.fa-star.text-primary.me-1
          i.fas.fa-star.text-primary.me-1
          i.fas.fa-star.text-primary.me-1
          
        .d-flex.align-items-center
          img(src=`${CWD}assets/img/icons/${config.image}` alt='...')
          .flex-1.ms-3
            h6.mb-0.fs--1.text-1000.fw-medium=config.name
            p.fs--2.fw-normal.mb-0=config.designation

mixin Testimonial({id})
  +Section('container-fluid').py-7
    .row.flex-center
      +Background({image: `${CWD}assets/img/gallery/quote.png`, attrs: { style: { 'background-position': 'top', 'background-size': 'auto', 'margin-left': '-270px','margin-top': '-45px',} }, className: 'bg-size' })
      .col-md-8.col-lg-5.text-center
        h5.text-danger TESTIMONIAL
        h2 Our Awesome Clients
  +Section('container-fluid').overflow-hidden
    .row.bg-offcanvas
      .col-12
        .swiper-container(data-pagination-target=id) 
          .swiper-wrapper
            each item in items
              .swiper-slide.h-auto
                +TestimonialItems(item)                        
        .swiper-pagination(id=id)
